<div id="messages_<%= conversation.id %>" class="flex flex-col p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch relative py-6 px-8">
  <%= turbo_frame_tag "messages" do %>
    <div>
      <div class="">
        <% messages.each_with_index do |message, index| %>
          <%= render 'account/shared/conversations/message', message: message, next_message: messages[index + 1], current_user: current_user %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
